.Item-box {
  color:white;
  height: 40vh;
  width: 30vw;
  float:left;
  background-color: black;
  overflow: hidden;
  margin-top: 10vh;
  overflow-y: auto;
  z-index: -1;
  font-size: 10px;
  
  
}

.Item-text{
  font-size: 6px;
  
}

.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  text-align:center;
}

.head{
  margin-top: 3vh;
  background-color: lightgrey;
  width: 150vh;
  min-height:10vh;
  float:right;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  border-radius:10px;
}
.head h1{
  font-size: 12px;
  text-align: left;
  text-indent: 3%;
  padding-right: 20vw;
}


.search-button{
  text-align: center;
  margin-top: 10vh;
}

.item-image{
  min-width: 300px;
  min-height: 300px;
  border:2px solid black;
  align-content: center;
  margin-top: 10vh;
}

.input{
  padding: 10px 10px 10px 20px; 
  min-width: 20vh;
}

.button{
  background-color: #FF9900; /* Green */
  color: black;
  min-width: 8vh;
  min-height: 4vh;
  
}

.button:active{
  background-color: #FF9900;
  color:black;
  transform: translateY(4px);
}

.title {
  font-size: 10vh;
  text-align: center;
}




